<app-menu></app-menu>
<div id="component">
    <h3 class="display-4 font-weight-bold">{{pageTitle}}</h3>
    <button *ngIf="isAdmin" routerLink="/products/create" class="btn btn-primary  ">Create New Product</button><span *ngIf=isAdmin > | </span>
    <input [(ngModel)]="searchCriteria" type="text" placeholder="Search Products">
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <th><a (click)="sort('id')" class="clickable">ID</a></th>
            <th><a (click)="sort('partNbr')" class="clickable">Part Number</a></th>
            <th><a (click)="sort('name')" class="clickable">Name</a></th>
            <th><a (click)="sort('price')" class="clickable">Price</a></th>
            <th><a (click)="sort('unit')" class="clickable">Unit</a></th>
            <th><a (click)="sort('vendorName')" class="clickable">Vendor</a></th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of products | productSearch:searchCriteria | sort:sortCriteria:sortAsc">
                <td>{{p.id}}</td>
                <td>{{p.partNbr}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price | currency}}</td>
                <td>{{p.unit}}</td>
                <td>{{p.vendorName}}</td>
                <td>
                    <button routerLink="/products/detail/{{p.id}}" class="btn btn-primary  ">Detail</button><span *ngIf="isAdmin"> | </span>
                    <button *ngIf="isAdmin" routerLink="/products/edit/{{p.id}}" class="btn btn-primary  ">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>