<div class="jumbotron p-3 mb-2 bg-dark text-white">
    <h1 class="display-4 font-weight-bold">About PRS</h1>
    <p class="lead">Welcome to my first application! It is a sample web-based Purchase Request System. 
        It is capable of managing users, administrators, and reviewers as well as vendors, products, and requests. 
        There is a log-in system and records are editable only by administrators or owners. 
        Requests under $50 are automatically approved and those over $50 can be approved or rejected only by reviewers. 
        There are still many enhancements to come. Try it yourself by heading to the <a class="clickable" routerLink="/users/login">login</a> page!
        You can also visit my <a class="clickable" href="http://www.mck-dev.com">website</a>!
    </p>
    <hr class="my-4">
    <table class="table table-striped table-bordered alert-primary mx-auto">
        <thead>
            <th colspan="5" class="text-center">Technologies Used to Build This Application Include:</th>
        </thead>
        <tbody>
            <tr>
                <td>C#</td>
                <td>Java</td>
                <td>Git</td>
                <td>Html</td>
                <td>Bootstrap</td>
            </tr>
            <tr>
                <td>.NET Framework</td>
                <td>JavaScript</td>
                <td>GitHub</td>
                <td>CSS</td>
                <td>SQL Server</td>
            </tr>
            <tr>
                <td>Entity Framework</td>
                <td>Typescript</td>
                <td>jQuery</td>
                <td>Angular</td>
                <td>SSL SSMS</td>
            </tr>
        </tbody>
    </table>
  </div>
